<h2>Station Update</h2>
<div class="main-content page-m">
    <div class="container-fluid">
        <form [formGroup]="stationFormGroup" (ngSubmit)="onSubmit()">
            <div formGroupName="addStationForm" class="form-area">
                <div class="row">
                    <div class="col-md-2"><label>x</label></div>
                    <div class="col-md-9">
                        <input formControlName="x" type="number">
                    </div>
                    <span *ngIf="!stationFormGroup.get('addStationForm')?.get('x')?.valid
                    && stationFormGroup.get('addStationForm')?.get('x')?.touched"
                    class="help-block"> Please enter a number</span>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>y</label></div>
                    <div class="col-md-9">
                        <input formControlName="y" type="number">
                    </div>
                    <span *ngIf="!stationFormGroup.get('addStationForm')?.get('y')?.valid
                    && stationFormGroup.get('addStationForm')?.get('y')?.touched"
                    class="help-block"> Please enter a number</span>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>reach</label></div>
                    <div class="col-md-9">
                        <input formControlName="reach" type="number">
                    </div>
                    <span *ngIf="!stationFormGroup.get('addStationForm')?.get('reach')?.valid
                    && stationFormGroup.get('addStationForm')?.get('reach')?.touched"
                    class="help-block"> Please enter a number</span>
                </div>
            </div>
            <button class="btn btn-info" type="submit" [disabled]="!stationFormGroup.valid">Update station {{id}}</button>
        </form>
    </div>
</div>
