
<div class="main-content page-m">
    <div class="container-fluid">
        <form [formGroup]="linkQueryFormGroup" (ngSubmit)="onSubmit()">
            <!-- linkQuery form group -->
            <div formGroupName="linkQueryForm" class="form-area">
                <h3>Link Query</h3>

                <div class="row">
                    <div class="col-md-2"><label>x</label></div>
                    <div class="col-md-9">
                        <input formControlName="x" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>y</label></div>
                    <div class="col-md-9">
                        <input formControlName="y" type="number">
                    </div>
                </div>
            </div>

            <!-- submit button -->
            <div class="text-left">
                <button type="submit" class="btn btn-info">Query</button>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <h6>Query Result:</h6>
        <h6>{{message}}</h6>
    </div>
</div>