<h2>Station List</h2>        
<button class="btn btn-info" (click)="onReload()">Refresh</button>
<div class="main-content page-m">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>x</th>
                    <th>y</th>
                    <th>reach</th>
                    <th>id</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let station of stations">
                    <td>{{station.x}}</td>
                    <td>{{station.y}} </td>
                    <td>{{station.reach}}</td>
                    <th>{{station.id}}</th>
                    <td>
                        <!-- using button instead of link to look neet
                            <a [routerLink]="['/stations', 'update']"
                                [queryParams]="{id: station.id}"
                                >Update
                            </a>
                            <a [routerLink]="['/stations', 'delete']"
                            [queryParams]="{id: station.id}"
                                >Delete
                            </a>
                        -->
                        <a class="btn btn-outline-info btn-sm" href={{station._links.self.href}}>Get</a>
                        <button class="btn btn-outline-info btn-sm" (click)="onUpdate(station.id)">Update</button>
                        <button class="btn btn-outline-info btn-sm" (click)="onDelete(station.id)">Delete</button>
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="container-fluid">
        <form [formGroup]="stationFormGroup" (ngSubmit)="onSubmit()">
            <div formGroupName="addStationForm" class="form-area">
                <div class="row">
                    <div class="col-md-2"><label>x</label></div>
                    <div class="col-md-9">
                        <input formControlName="x" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>y</label></div>
                    <div class="col-md-9">
                        <input formControlName="y" type="number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><label>reach</label></div>
                    <div class="col-md-9">
                        <input formControlName="reach" type="number">
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-sm">Add</button>
        </form>
    </div>
</div>